<div class="row">
  <div class="col-md-10">
    <h1>Add Task</h1>
    <%= simple_form_for @task, html: {class: 'form-horizontal' } do |f| %>
      <%= f.input :name %>
      <%= f.input :site %>
      <%= f.input :description, size: "60x12" %>
      <%= f.input :minutes %>
      <%= f.collection_check_boxes :resource_ids, Resource.all, :id, :name, label: 'Resources Related To:' %>
      <br />
      <%= f.collection_check_boxes :goal_ids, Goal.all, :id, :key_name, label: 'Goals Related To:' %>
      <br />
      <%= f.button :submit %>
    <% end %>
  </div>
</div>

